.categories-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  row-gap: 10px;

  .category-container {
    flex-basis: calc(98%/3);
    position: relative;
    transition: .5s;
    overflow: hidden;
    cursor: pointer;

    &.mens,
    &.womens {
      flex-basis: calc(98%/2)
    }

    .info {
      height: 90px;
      padding: 0 25px;
      text-align: center;
      border: 1px solid black;
      background-color: white;
      opacity: 0.7;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%)
    }

    .background-image {
      width: 100%;
      height: 100%;
    }

    &:hover .background-image {
      transform: scale(1.1);
      transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }
  }
}