.auth {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    display: flex;
    justify-content: space-around;

    form {
      span {
        display: block;
        margin-bottom: 25px;
      }

      flex-basis: calc(60%/2);
    }
  }

  .buttons-container {
    display: flex;
    gap: 10px;
  }
}